{% extends 'base.html' %}

{% block page_title %} {{ treatment_area.area }} {% endblock %}

{% block content %}

<section class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-12">
             {% if messages %}
              <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                {% for message in messages %}
                  <span class="lh-1">{{ message }}</span>
                {% endfor %}
              </div>
              {% endif %}
         </div>
      </div>
      <div class="row">
         <div class="col-12">
            <div class="card card-outline card-info">
               <div class="card-header">
                  <h3 class="card-title">Edit Treatment Area</h3>
               </div>
               <!-- /.card-header -->
               <form class="form-horizontal" method="POST" novalidate>
                  <div class="card-body">
                     {% csrf_token %}
                     <div class="form-group ">
                        <label for="" class="col-md-2 control-label">Treatment Area:</label>
                        <div class="col-md-4">
                           {{ form.area }}
                           <span class="help-block">{{ form.area.errors }}</span>
                        </div>
                     </div>
                  </div>
                  <div class="card-footer">
                     <button type="submit" class="btn btn-info">Update</button>
                  </div>
               </form>
               <!-- /.card-body -->
            </div>
         </div>
         <!-- /.col -->
      </div>
      <!-- /.row -->
   </div>


</section>
{% endblock %}

