{% extends 'base.html' %}

{% block page_title %} Price Types {% endblock %}

{% block content %}

	<section class="content">
	   <div class="container-fluid">
		    <div class="row">
			   <div class="col-12">
				   {% if messages %}
					<div class="alert alert-success alert-dismissible">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
					  {% for message in messages %}
						<span class="lh-1">{{ message }}</span>
					  {% endfor %}
					</div>
					{% endif %}
			   </div>
		   </div>
		  <div class="row">
			 <div class="col-12">
				<div class="card card-outline card-primary">
				   <div class="card-header">
					  <h3 class="card-title">Price Type List</h3>
					  <div class="card-tools">
						 <a href="{% url 'treatments:price_type_create' %}" class="btn btn-sm btn-block bg-gradient-success">
							Add Price Type
						 </a>
					  </div>
				   </div>
				   <!-- /.card-header -->
				   <div class="card-body">
					  <table id="price_type-table" class="table table-striped projects">
						 <thead>
							<tr>
								<th>ID</th>
								<th>PRICE TYPE</th>
								<th>STATUS</th>
								<th>ACTIONS</th>
							</tr>
						 </thead>
						 <tbody>
							{% for ptype in pricing_type_list %}
							<tr>
								<th>{{ ptype.id}}</th>
								<td>{{ ptype.type}}</td>
								<td>{% if ptype.is_active %}
										<span class="badge bg-success">Active</span>
									{% else %}
										<span class="badge bg-danger">Inactive</span>
									{% endif %}
								</td>
								<td>
									<a href="{% url 'treatments:price_type_edit' ptype.id %}" class="pull-right text-blue"><i class="fas fa-pencil-alt"></i></a>
									<a href="{% url 'treatments:price_type_disable' ptype.id %}" class="pull-right text-red"><i class="fas fa-ban"></i></a>
								</td>
							</tr>
							{% endfor %}
						 </tbody>
					  </table>
				   </div>
				   <!-- /.card-body -->
				</div>
			 </div>
			 <!-- /.col -->
		  </div>
		  <!-- /.row -->
	   </div>
	   <!-- /.container-fluid -->
	</section>
	<!-- /.content -->

{% endblock %}


{% block script %}
    <script>
      $(function () {
        $('#price_type-table').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false,
          "responsive": true,
          "pageLength": 10,
        });
      });
    </script>
{% endblock script %}