{% extends 'base.html' %}
{% block title %} Service {% endblock %}
{% block page_title %} Services {% endblock %}

{% block content %}

<section class="content">
   <div class="container-fluid">

        <div class="row">
           <div class="col-12">
               {% if messages %}
                <div class="alert alert-success alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                  {% for message in messages %}
                    <span class="lh-1">{{ message }}</span>
                  {% endfor %}
                </div>
                {% endif %}
           </div>
        </div>

      <div class="row">
         <div class="col-12">
            <div class="card card-outline card-info">
               <div class="card-header">
                  <h3 class="card-title">Edit Service</h3>
               </div>
               <!-- /.card-header -->
               <form class="form-horizontal" method="POST" novalidate>
                  <div class="card-body">
                     {% csrf_token %}
                     <div class="form-group ">
                        <label for="" class="control-label">Service Name:</label>
                        <div class="col-md-4">
                           {{ form.name }}
                           <span class="help-block">{{ form.name.errors }}</span>
                        </div>
                     </div>
                      <div class="form-check">
                         <div class="col-md-4">
                             {{ form.is_active}}
                             <label class="form-check-label" for="">Is active?</label>
                         </div>
                      </div>
                  </div>

                  <div class="card-footer">
                     <button type="submit" class="btn btn-info">Update</button>
                  </div>
               </form>
               <!-- /.card-body -->
            </div>
         </div>
         <!-- /.col -->
      </div>
      <!-- /.row -->
   </div>


</section>
{% endblock %}

