{% extends 'base.html' %}

{% block page_title %} Treatments {% endblock %}

{% block content %}

<section class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-12">
            <div class="card card-outline card-info">
               <div class="card-header">
                  <h3 class="card-title">Add Treatment</h3>
               </div>
               <!-- /.card-header -->
               <form class="form-horizontal" method="POST" novalidate>
                  <div class="card-body">
                    {% csrf_token %}
                    <div class="form-group ">
                      <label for="" class="col-md-2 control-label">Service:</label>
                        <div class="col-md-4">
                           {{ form.service }}
                           <span class="help-block">{{ form.service.errors }}</span>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="" class="col-md-2 control-label">Treatment Name:</label>
                        <div class="col-md-4">
                           {{ form.name }}
                           <span class="help-block">{{ form.name.errors }}</span>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="" class="col-md-2 control-label">Description:</label>
                        <div class="col-md-4">
                           {{ form.description }}
                           <span class="help-block">{{ form.description.errors }}</span>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="" class="col-md-2 control-label">Treatment Area:</label>
                        <div class="col-md-4">
                           {{ form.area }}
                           <span class="help-block">{{ form.area.errors }}</span>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="" class="col-md-2 control-label">Pricing Type:</label>
                        <div class="col-md-4">
                           {{ form.type }}
                           <span class="help-block">{{ form.type.errors }}</span>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="" class="col-md-2 control-label">Price:</label>
                        <div class="col-md-4">
                           {{ form.price }}
                           <span class="help-block">{{ form.price.errors }}</span>
                        </div>
                     </div>



                  <div class="card-footer">
                     <button type="submit" class="btn btn-info">Save</button>
                  </div>
                </div>
               </form>
               <!-- /.card-body -->
            </div>
         </div>
         <!-- /.col -->
      </div>
      <!-- /.row -->
   </div>


</section>
{% endblock %}

