{% extends 'base.html' %}

{% block page_title %} Treatments {% endblock %}

{% block content %}

	<section class="content">
	   <div class="container-fluid">
		    <div class="row">
			   <div class="col-12">
				   {% if messages %}
					<div class="alert alert-success alert-dismissible">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
					  {% for message in messages %}
						<span class="lh-1">{{ message }}</span>
					  {% endfor %}
					</div>
					{% endif %}
			   </div>
		   </div>
		  <div class="row">
			 <div class="col-12">
				<div class="card card-outline card-primary">
				   <div class="card-header">
					  <h3 class="card-title">Treatment List</h3>
					  <div class="card-tools">
						 <a href="{% url 'treatments:treatment_create' %}" class="btn btn-sm btn-block bg-gradient-success">
							Add Treatment
						 </a>
					  </div>
				   </div>
				   <!-- /.card-header -->
				   <div class="card-body">
					  <table id="treatments-table" class="table table-striped projects">
						 <thead>
							<tr>
								<th>ID</th>
								<th>SERVICE</th>
								<th>TREATMENT NAME</th>
								<th>DESCRIPTION</th>
								<th>TREATMENT AREA</th>
								<th>PRICING TYPE</th>
								<th>STATUS</th>
								<th>ACTIONS</th>

							</tr>
						 </thead>
						 <tbody>
							{% for treatment in treatment_list %}
							<tr>
								<th>{{ treatment.id}}</th>
								<td>{{ treatment.service }}</td>
								<td>{{ treatment.name }}</td>
								<td>{{ treatment.description }}</td>
								<td>{{ treatment.area }}</td>
								<td>{{ treatment.type }}</td>
								<td>{% if treatment.is_active %}
										<span class="badge bg-success">Active</span>
									{% else %}
										<span class="badge bg-danger">Inactive</span>
									{% endif %}
								</td>
								<td>
								  	<a href="{% url 'treatments:treatment_edit' treatment.id %}" class="pull-right text-blue"><i class="fas fa-pencil-alt"></i></a>
									<a href="{% url 'treatments:treatment_disable' treatment.id %}" class="pull-right text-red"><i class="fas fa-ban"></i></a>
								</td>
							</tr>
							{% endfor %}
						 </tbody>
					  </table>
				   </div>
				   <!-- /.card-body -->
				</div>
			 </div>
			 <!-- /.col -->
		  </div>
		  <!-- /.row -->
	   </div>
	   <!-- /.container-fluid -->
	</section>
	<!-- /.content -->

{% endblock %}

{% block script %}
    <script>
      $(function () {
        $('#treatments-table').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": false,
          "info": true,
          "autoWidth": false,
          "responsive": true,
<!--          "pageLength": 10,-->
        });
      });
    </script>
{% endblock script %}