{% extends 'base.html' %}

{% block page_title %} Treatments {% endblock %}

{% block content %}

	{% if messages %}
    <div class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}

	<section class="content">
	   <div class="container-fluid">
		  <div class="row">
			 <div class="col-12">
				<div class="card card-outline card-info">
				   <div class="card-header">
					  <h3 class="card-title">Treatment List</h3>
					  <div class="card-tools">
						 <a href="{% url 'treatments:treatment_create' %}" class="btn btn-sm btn-block bg-gradient-success">
							Add Treatment
						 </a>
					  </div>
				   </div>
				   <!-- /.card-header -->
				   <div class="card-body">
					  <table id="treatment-table" class="table table-bordered table-hover">
						 <thead>
							<tr>
								<th>ID</th>
								<th>SERVICE</th>
								<th>TREATMENT NAME</th>
								<th>DESCRIPTION</th>
								<th>TREATMENT AREA</th>
								<th>PRICING</th>
								<th>STATUS</th>
								<th>ACTIONS</th>

							</tr>
						 </thead>
						 <tbody>
							{% for treatment in treatment_list %}
							<tr>
								<td>{{ treatment.id}}</td>
								<td>{{ treatment.service }}</td>
								<td>{{ treatment.name }}</td>
								<td>{{ treatment.description }}</td>
								<td>{{ treatment.area }}</td>
								<td>{{ treatment.type }}</td>
								<td>{{ treatment.price }}</td>
								<td>{% if treatment.is_deleted %}
										<span class="badge bg-danger">Inactive</span>
									{% else %}
										<span class="badge bg-success">Active</span>
									{% endif %}
								</td>
								<td>
								  	<a href="{% url 'services:treatment_edit' treatment.id %}" class="pull-right text-blue"><i class="fas fa-pencil-alt"></i></a>
									<a href="{% url 'services:treatment_delete' treatment.id %}" class="pull-right text-red"><i class="fas fa-trash-alt"></i></a>
								</td>
							</tr>
							{% endfor %}
						 </tbody>
					  </table>
				   </div>
				   <!-- /.card-body -->
				</div>
			 </div>
			 <!-- /.col -->
		  </div>
		  <!-- /.row -->
	   </div>
	   <!-- /.container-fluid -->
	</section>
	<!-- /.content -->

{% endblock %}