{% extends 'customer_base.html' %}
{% block title %} Redeem Points {% endblock %}

{% block content %}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 pl-0">
                <h4>Points Redeemed</h4>
            </div>
        </div>
    </div>
</section>

<div class="card card-outline card-info">
    <div class="card-header text-dark border-bottom-0">
      <h3 class="card-title">Points Redeemed History</h3>
    </div>
    <div class="card-body pt-2">
        <div class="row">
            <div class="col-12">
                {% for redeem in redeemed_list %}
                 <ul class="list-group list-group ml-1">
                     <li class="list-group-item">
                         <div class="row">
                             <div class="col-6">
                                <h6>{{redeem.transaction.reference_id }}</h6>
                             </div>
                             <div class="col-6">
                                 <h6  class= "text-right">{{ redeem.date_redeemed|date:"d M Y G:i"  }}</h6>
                                 <h6 class= "text-right"><b>-{{redeem.redeemed_points|floatformat:2 }}</b></h6>
                             </div>

                         </div>

                    </li>
                 </ul>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card-footer"></div>
</div>
{% endblock %}

