{% extends 'customer_base.html' %}

{% block title %} Appointment {% endblock %}

{% block content %}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 pl-0">
                <h4>Booked Appointment</h4>
            </div>
        </div>
    </div>
</section>

<div class="card card-outline card-info">
    <div class="card-header text-dark border-bottom-0">
      <h3 class="card-title">Booked Appointment</h3>
    </div>
    <div class="card-body pt-3">
        <div class="row">
            <div class="col-12">
                {% for appointment in appointment_info %}
                 <ul class="list-group list-group ml-0">
                     <li class="list-group-item pt-4"><h6> {{ appointment.treatment }}
                         <p class="float-right">{{ appointment.date|date:"D, d M Y" }} | {{ appointment.time }}</p></h6>

                        <div class="text-right pt-2 pb-1">
                             {% if appointment.is_approved %}
                                <h6 style="color: #28A745"><i class="far fa-check-circle"></i> Appointment approved</h6>
                                <i class="fas fa-info-circle" data-toggle="modal" data-target="#bookInfo""></i>

                                <div class="modal fade text-left" id="bookInfo" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title">Appointment Terms and Condition</h5>
                                              </div>
                                            <div class="modal-body">
                                                <h6>
                                                    Your appointment is approved. Stay Safe!
                                                    <br> <br>
                                                    1. Treatments must be still upon the approval and assessment of our skin specialist and/or dermatologist.
                                                    <br><br>
                                                    2. We also highly advise you to be at the clinic 5 minutes before your scheduled time.
                                                    If you haven't arrived 15 minutes after your scheduled time, it is considered late and/or canceled.
                                                    <br>
                                                    The skin specialist can now accommodate walk-ins at this time.
                                                </h6>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                             {% else %}
                                <h6 style="color: #fd7012"><i class="far fa-clock"></i> Pending</h6>
                             {% endif %}
                        </div>
                         {% if not appointment.is_approved%}
                         <a href="{% url 'appointments:appointment_edit' appointment.id %}"><button class="btn btn-primary btn-sm float-right">Edit</button></a>
                         {% endif %}
                     </li>

                 </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

