{% extends 'customer_base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block content %}

<div class="card">
    <div class="card-group">
        <div class="card">
            <div id="carouselBanner" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'dist/img/splendorService_acne.png' %}" class="d-block w-100" alt="banner image services">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'dist/img/splendorService_acne.png' %}" class="d-block w-100" alt="banner image services">
                    </div>
                     <div class="carousel-item">
                        <img src="{% static 'dist/img/splendorService_hair.png' %}" class="d-block w-100" alt="banner image services">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-group">
        <div class="card">
            <div id="carouselOffer" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'dist/img/splendor100_all.png' %}" class="d-block w-100" alt="banner image offers" >
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'dist/img/splendor101_Acne.png' %}" class="d-block w-100" alt="banner image offers">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'dist/img/splendor102_Hair.png' %}" class="d-block w-100" alt="banner image offers">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
