{% extends 'customer_base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block header %}


<div class="card">
    <div class="card-body">
        <div class="row-2">
            <div class="col-sm">
            {% if user.is_patient %}
            <h4 class="card-title">
                {% if user.is_authenticated %}
                    WELCOME, {{ user }}</h4>
                {% endif %}
            {% endif %}
            <p class="card-text">
                Available Points: 0.00
            </p>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-group">
        <div class="card">
            <div id="carouselExampleSlidesOnly1" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'dist/img/acne.png' %}" class="d-block w-100" alt="banner image services" height="500px">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'dist/img/hair.png' %}" class="d-block w-100" alt="banner image services" height="500px">
                    </div>
                     <div class="carousel-item">
                        <img src="{% static 'dist/img/hair.png' %}" class="d-block w-100" alt="banner image services" height="500px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-group">
        <div class="card">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'dist/img/promo1.png' %}" class="d-block w-100" alt="banner image offers" height="300px">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'dist/img/promo2.png' %}" class="d-block w-100" alt="banner image offers" height="500px">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'dist/img/acne.png' %}" class="d-block w-100" alt="banner image offers" height="500px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock header %}


{% block main-content %}
    <!--<h1>Welcome.</h1>-->
{% endblock main-content %}