{% extends "customer_base_login.html" %}

{% block content %}

{% if messages %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {% for message in messages %}
            <span class="lh-1">{{ message }}</span>
         {% endfor %}
    </div>
{% endif %}

  <form method="POST" action="{% url 'loyalty:loyalty_login' %}" id="form-base" novalidate>
    {% csrf_token %}
     <div class="input-group mb-3">
        <input type="text" name="username" class="form-control" placeholder="Enter email" autocomplete="on">
        <div class="input-group-append">
           <div class="input-group-text">
              <span class="fas fa-envelope"></span>
           </div>
        </div>
     </div>
     <div class="input-group mb-3">
        <input type="password" name="custom_password" class="form-control" placeholder="Enter password">
        <div class="input-group-append">
           <div class="input-group-text">
              <span class="fas fa-lock"></span>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-8">

        </div>
        <!-- /.col -->
        <div class="col-4">
           <button type="submit" class="btn btn-primary btn-block">Log In</button>
        </div>
        <!-- /.col -->
     </div>
  </form>

{% endblock content %}


{% block script %}

<script>

</script>

{% endblock script %}


