{% extends 'base.html' %} {% block page_title %} Report and Analytics {% endblock page_title %} {% block content %}

<h2>Most Chosen Treatment</h2>

    {% for treatment in treatment_label %}
        {{ treatment.name }}

    {% endfor %}

  {% for count in treatment_data %}
            {{ count }}
        {% endfor %}

<div style="width: 25%;">
    <canvas id="myChart"></canvas>
</div>

{% endblock %} {% block script %}
<script>
    var config = {
        type: "doughnut",
        data: {
            datasets: [
                {
                    data: {{treatment_data|safe}},
                    backgroundColor: ["blue", "green", "blue"],
                    label: "Count",
                },
            ],
            labels: {{treatment_label|safe}},
        },
        options: {
            responsive: true,
        },
    };

    window.onload = function () {
        var ctx = document.getElementById("myChart").getContext("2d");
        window.mypie = new Chart(ctx, config);
    };
</script>
{% endblock script %}
