{% extends "base_login.html" %}
{% block title %} Login {% endblock %}
{% block content %}

{% if messages %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {% for message in messages %}
            <span class="lh-1">{{ message }}</span>
         {% endfor %}
    </div>
{% endif %}

  <form method="post" action="{% url 'login' %}" id="form-base" novalidate>
    {% csrf_token %}
     <div class="input-group mb-3">
         <input type="text" name="email" class="form-control" placeholder="Enter email" autocomplete="on">
         <div class="input-group-append">
             <div class="input-group-text">
                 <span class="fas fa-envelope"></span>
             </div>
        </div>
     </div>
     <div class="input-group mb-3">
         <input type="password" id="password" name="password" class="form-control" placeholder="Password"/>
         <div class="input-group-append">
            <div class="input-group-text">
              <span id="eyeicon"><i class="fas fa-eye-slash" style="width:17px"></i></span>
            </div>
         </div>
     </div>
     <div class="row">
        <div class="col-8">

        </div>
        <!-- /.col -->
        <div class="col-4">
           <button type="submit" class="btn btn-primary btn-block">Log In</button>
        </div>
        <!-- /.col -->
     </div>
  </form>

{% endblock content %}

{% block script %}
<script>
        let eyeicon = document.getElementById("eyeicon");
        let password = document.getElementById("password");

        eyeicon.addEventListener("click", function() {
            if (password.type === "password") {
                password.type = "text";
                eyeicon.innerHTML = '<i class="fas fa-eye"></i>';
            } else {
                password.type = "password";
                eyeicon.innerHTML = '<i class="fas fa-eye-slash"></i>';
            }
        });

</script>
{% endblock script %}
