{% extends "base.html" %}

{% block page_title %} Group List {% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
           <div class="col-12">
               {% if messages %}
                <div class="alert alert-success alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                  {% for message in messages %}
                    <span class="lh-1">{{ message }}</span>
                  {% endfor %}
                </div>
                {% endif %}
           </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-info">
				   <div class="card-header">
					  <h3 class="card-title">Group List</h3>
					  <div class="card-tools">
						 <a href="{% url 'users:group_create' %}" class="btn btn-sm btn-block bg-gradient-success">
							Add Group
						 </a>
					  </div>
				   </div>
                   <div class="card-body">
                       <table id="group-table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Group</th>
                                    <th>ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in group_list %}
                                <tr>
                                    <td>{{group.id}}</td>
                                    <td>{{group.name}}</td>
                                    <td>
                                        <a href="{% url 'users:group_edit' group.id %}" class="pull-right text-blue"><i class="fas fa-pencil-alt"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                       </table>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block script %}
    <script>
      $(function () {
        $('#group-table').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : false,
          'info'        : true,
          'autoWidth'   : false,
          "order": [[ 0, "desc" ]]
        })
      })
    </script>
{% endblock script %}
