{% extends "base.html" %}

{% block page_title %} Group {% endblock page_title %}


{% block content %}

<section class="content">

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Edit Group</h3>
    </div>
      <div class="box-body">
      <form class="form-horizontal" id="frm" method="POST" enctype="multipart/form-data" action="{% url 'profiles:group_edit' group.id %}" novalidate>
        {% csrf_token %}
        <div class="form-horizontal">

          <div class="form-group">
            <label for="" class="col-md-2 control-label">Name:</label>
            <div class="col-md-9">
              <input name="group_name" value="{{group_name}}" type="textbox" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-md-2 control-label">Permission:</label>
            <div class="col-md-4">
              <select id="sbPermission" class="form-control" multiple="multiple" style="height: 250px;">
              </select>
                <div style="margin-top: 20px;">
                  <button type="button" id="btnAll" class="btn btn-primary btn-block glyphicon glyphicon-fast-forward">
                  </button>
                </div>
            </div>

            <div class="col-md-1" valign="bottom">
              <div style="margin-top: calc(50% + 40px); margin-left: 30px;">
                <button type="button" id="btnChoose" class="btn btn-primary btn-block glyphicon glyphicon-forward"></button>
                <br>
                <button type="button" id="btnRemove" class="btn btn-primary btn-block glyphicon glyphicon-backward"></button>
              </div>
            </div>

            <div class="col-md-4">
              <select class="form-control" id="permission" name="permission" multiple="multiple" style="height: 250px;">
              </select>
            </div>
          </div>

          <div class="box-footer">
            <a class="btn btn-primary" href="{% url 'profiles:group_list' %}">Back</a>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>

        </div>
      </form>
      </div>

  </div>


</section>

{% endblock content %}

{% block script %}
<script>
  $(document).ready(function(){
    var permission_id = [
      {% for data in permission %}
        `{{data.id}}`,
      {% endfor %}
    ],permission_title = [
      {% for data in permission %}
        `{{data}}`,
      {% endfor %}
    ],group_id = [
      {% for data in group_permission %}
        `{{data.id}}`,
      {% endfor %}
    ],group_name = [
      {% for data in group_permission %}
        `{{data}}`,
      {% endfor %}
    ]

    $(permission_id).each(function(key, value){

      $('#sbPermission').append(`<option value="${value}">${permission_title[key]}</option>`);

    });//end of permission list

    $(group_id).each(function(key, value){

      $('#permission').append(`<option value="${value}">${group_name[key]}</option>`);

    });//end of each


    $('#btnChoose').click(function(){

      $('#sbPermission :selected').each(function(){

        $('#permission').append(`<option value="${$(this).val()}">${$(this).html()}</option>`);

        $(this).remove();

      });//end of each

    });//end of btnChoose

    $('#btnRemove').click(function(){

      $('#permission :selected').each(function(){

        $('#sbPermission').append(`<option value="${$(this).val()}">${$(this).html()}</option>`);

        $(this).remove();

      });//end of each


    });//end of btnRemove

    $('#btnAll').click(function(){

      $('#sbPermission option').each(function(){

          $('#permission').append(`<option value="${$(this).val()}">${$(this).html()}</option>`);

          $(this).remove();

      });//end of each

    });//end of btnAll

    $('#frm').on("submit", function(e){

      // selected_permission = $('#permission option').length

      // if(selected_permission == 0){

      //   $('#sbPermission option').each(function(){

      //     $('#permission').append(`<option value="${$(this).val()}" selected="selected">${$(this).html()}</option>`);

      //   });
      // }

      // else{


      // }
      $('#permission option').each(function(key,val){

          $(this).prop('selected',true)

      });//end of each option

    });//end of submit



  });
</script>

{% endblock script %}
