{% extends "base.html" %}

{% block page_title %} System Users {% endblock page_title %}


{% block content %}

<!-- Main content -->
<section class="content">
   <div class="container-fluid">
       <div class="row">
			   <div class="col-12">
				   {% if messages %}
					<div class="alert alert-success alert-dismissible">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
					  {% for message in messages %}
						<span class="lh-1">{{ message }}</span>
					  {% endfor %}
					</div>
					{% endif %}
			   </div>
		   </div>
      <div class="row">
         <div class="col-12">
            <div class="card card-outline card-primary">
               <div class="card-header">
                  <h3 class="card-title">System User List</h3>
                  <div class="card-tools">
                     <a href="{% url 'users:create' %}" class="btn btn-sm btn-block bg-gradient-success">
                        Add User
                     </a>
                  </div>
               </div>
               <!-- /.card-header -->
               <div class="card-body">
                  <table id="users-table" class="table table-striped projects">
                     <thead>
                        <tr>
                            <th>USER ID</th>
                            <th>USER GROUP</th>
                            <th>FIRST NAME</th>
                            <th>LAST NAME</th>
                            <th>MOBILE #</th>
                            <th>EMAIL ADDRESS</th>
                            <th>STATUS</th>
                            <th>ACTIONS</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for user in users %}
                        <tr>
                            <th>{{ user.id }}</th>
                            <td>
                                {% for group in user.groups.all %}
                                    {{ group.name }}
                                {% endfor %}
                            </td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.mobile }}</td>
                            <td>{{ user.email}}</td>
                            <td>
                                {% if user.is_active %}
                                    <span class="badge bg-success">Active</span>
                                {% else %}
                                    <span class="badge bg-danger">Inactive</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'users:edit' user.id %}" class="pull-right text-blue mr-3"><i class="fas fa-pencil-alt"></i></a>
                                {% if not user.is_superuser %}
                                    <a href="{% url 'users:disable' user.id %}" class="pull-right text-red"><i class="fas fa-ban"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
               <!-- /.card-body -->
            </div>
         </div>
         <!-- /.col -->
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container-fluid -->
</section>
<!-- /.content -->

{% endblock content %}

{% block script %}
    <script>
      $(function () {
        $('#users-table').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": false,
          "info": true,
          "autoWidth": false,
          "responsive": true,
          "pageLength": 10,
        });
      });
    </script>
{% endblock script %}