{% extends "base.html" %}

{% block page_title %} Users {% endblock page_title %}


{% block content %}

<!-- Main content -->
<section class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-12">
            <div class="card card-outline card-info">
               <div class="card-header">
                  <h3 class="card-title">System User List</h3>
                  <div class="card-tools">
                     <a href="{% url 'users:create' %}" class="btn btn-sm btn-block bg-gradient-success">
                        Add User
                     </a>
                  </div>
               </div>
               <!-- /.card-header -->
               <div class="card-body">
                  <table id="users-table" class="table table-bordered table-hover">
                     <thead>
                        <tr>
                            <th>USER ID</th>
                            <th>FIRST NAME</th>
                            <th>LAST NAME</th>
                            <th>IS_PATIENT</th>
                            <th>USER GROUP</th>
                            <th>EMAIL ADDRESS</th>
                            <th>STATUS</th>
                            <th>ACTIONS</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for user in object_list %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.is_patient }}</td>
                            <td>{{ user.group }}</td>
                            <td>{{ user.email }}</td>
                            <td>{% if user.is_active %}
                                    <span class="badge bg-success">Active</span>
                                {% else %}
                                    <span class="badge bg-danger">Inactive</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'users:edit' user.id %}" class="pull-right text-blue"><i class="fas fa-pencil-alt"></i></a>
                                <a href="{% url 'users:disable' user.id %}" class="pull-right text-red"><i class="fas fa-ban"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
               <!-- /.card-body -->
            </div>
         </div>
         <!-- /.col -->
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container-fluid -->
</section>
<!-- /.content -->

{% endblock content %}

{% block script %}
    <script>
      $(function () {
        $('#users-table').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false,
          "responsive": true,
          "pageLength": 10,
        });
      });
    </script>
{% endblock script %}