{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <div class="image">
            <img src="{% static 'dist/img/blue_logo.png' %}" class="img-circle brand-image-xl logo-xs" alt="Image Logo" >
            <img src="{% static 'dist/img/splendor_logo.png' %}" class="" alt="Image Logo" width="100%">
        </div>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'dist/img/default-avatar.jpg' %}" class="img-circle elevation-2" alt="User Image" />
            </div>
            <div class="info">
                <a href="#" class="d-block">
                    {% if user.is_authenticated %} {{ user.first_name }} {{ user.last_name }} {% endif %}
                </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="{% url 'dashboard:main' %}" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                {% if perms.user_profile.view_patient %}
                <li class="nav-item">
                    <a href="{% url 'patients:patient_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Patients</p>
                    </a>
                </li>
                {% endif %}

                {% if perms.treatments.view_treatment %}
                <li class="nav-item">
                    <a href="{% url 'treatments:treatment_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-clipboard-list"></i>
                        <p>Treatments</p>
                    </a>
                </li>
                {% endif %}
                {% if perms.appointments.view_appointment %}
                <li class="nav-item">
                    <a href="{% url 'appointments:appointment_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-calendar-check"></i>
                        <p>Appointments</p>
                    </a>
                </li>
                {% endif %}

                {% if perms.user_profile.view_user %}
                <li class="nav-item">
                    <a href="{% url 'users:list' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-cog"></i>
                        <p>System Users</p>
                    </a>
                </li>
                {% endif %}

                {% if perms.offers.view_offer %}
                 <li class="nav-item">
                    <a href="{% url 'offers:offer_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-tag"></i>
                        <p>Offers</p>
                    </a>
                </li>
                {% endif %}

                {% if perms.user_profile.view_user %}
                 <li class="nav-item">
                    <a href="{% url 'reports:report' %}" class="nav-link">
                        <i class="nav-icon fas fa-paste"></i>
                        <p>Reports</p>
                    </a>
                </li>
                {% endif %}

                {% if perms.user_profile.view_user %}
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>Management<i class="far fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="{% url 'users:group_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>User Groups</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'treatments:service_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Services</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'treatments:area_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Areas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'treatments:price_type_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Price Types</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
