{% extends 'customer_base.html' %}
{% block title %} Transactions {% endblock %}

{% block content %}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 pl-0">
                <p style="font-size: 27px">Transactions</p>
            </div>
        </div>
    </div>
</section>

<div class="card card-outline card-info">
    <div class="card-header ">
          <h3 class="card-title">Transaction History</h3>
          <div class="card-tools">
             <a href="{% url 'redeem_points:redeemed_list' %}" class="btn btn-sm btn-block bg-gradient-info">
                Redeemed Points
             </a>
          </div>
    </div>

    <div class="card-body pt-4">
        <div class="col-12">
            {% for transact in transaction_list %}
             <ul class="list-group list-group ml-1">
                 <li class="list-group-item">
                     <div class="row">
                         <div class="col-6">
                             <h6>{{ transact.reference_id }}</h6>
                             {% if transact.offer_code %}
                                <p class="pt-2">{{transact.offer_code|upper}}</p>
                             {% endif %}
                         </div>
                         <div class="col-6">
                             <p class="text-right">{{ transact.date_added|date:"d M Y" }}</p>
                             <h6 class= "text-right"><span>&#8369;</span>{{transact.points}}</h6>
                         </div>
                     </div>
                </li>
             </ul>
            {% endfor %}
        </div>
    </div>
    <div class="card-footer"></div>
</div>
{% endblock %}
