{% extends 'base.html' %}

{% block title %}
    Appointment
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
			<label>User:</label>
			{{form.user}}
		</div>

        <div class="form-group">
			<label>Date:</label>
			{{form.date}}
            {{form.date.errors}}
		</div>

        <div class="form-group">
			<label>Time:</label>
			{{form.time}}
            {{form.time.errors}}
		</div>

          <div class="form-group">
			<label>Treatment:</label>
			{{form.treatment}}
            {{form.treatment.errors}}
		</div>

        <button type="submit" class="btn btn-md btn-success">Add</button>
    </form>

{% endblock %}

{% block script %}

{% endblock script %}