{% extends 'base.html' %} {% block page_title %} Patient: {{ patient.first_name }} {{ patient.last_name }} {% endblock %} {% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
                <div class="row">
         <div class="col-12">
             {% if messages %}
              <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                {% for message in messages %}
                  <span class="lh-1">{{ message }}</span>
                {% endfor %}
              </div>
              {% endif %}
         </div>
      </div>
            <div class="col-12">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <h3 class="card-title">Reset Password</h3>
                    </div>
                    <!-- /.card-header -->
                    <form class="form-horizontal" method="POST">
                        <div class="card-body">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="" class="control-label">Password:</label>
                                <div class="col-md-4">
                                    <div class="input-group-prepend">
                                        <input type="text" name="password" id="password" class="form-control" placeholder="password" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" type="submit">Save</button>
                        </div>
                    </form>
                    <button onclick="generatePassword()" class="btn btn-info float-right">Generate</button>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>
{% endblock %}

{% block script %}
<script>
    const passwordBox = document.getElementById("password");
    const length = 8;
    const number = "0123456789";

    function generatePassword() {
        let password = "";
        while (length > password.length) {
            password += number[Math.floor(Math.random() * number.length)];
        }
        passwordBox.value = password;
    }
</script>
{% endblock script %}
