{% extends 'customer_base.html' %} {% block title %} Profile {% endblock %} {% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 pl-0">
                <p style="font-size: 24px;">Profile</p>
            </div>
        </div>
    </div>
</section>

<div class="card card-outline card-info">
    <div class="card-header">
        <h3 class="card-title">Profile</h3>
        <a href="{% url 'patients:change_password' %}"><h6 class="text-right">Change password</h6></a>
    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-6">
                <ul class="list-group list-group mb-3">
                    <li class="list-group-item"> First Name<a class="float-right">{{ patient_info.first_name }}</a></li>
                    <li class="list-group-item">Last Name<a class="float-right"> {{ patient.last_name }}</a></li>
                    <li class="list-group-item">Gender<a class="float-right">{{ patient_info.userprofile.gender }}</a></li>
                    <li class="list-group-item">Birthdate<a class="float-right">{{ patient_info.date_of_birth|date:"d M Y" }}</a></li>
                    <li class="list-group-item">Mobile<a class="float-right">{{ patient_info.mobile }}</a></li>
                    <li class="list-group-item">Email<a class="float-right">{{ patient_info.email }}</a></li>
                    <li class="list-group-item">Address<a class="float-right">{{ patient_info.userprofile.address }}</a></li>
                </ul>
            </div>

            <div class="col-md-6 patient-qr">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ MEDIA_URL }}{{ patient_info.qr_code.url }}" height="300px" alt="QR Code Image" data-toggle="modal" data-target="#qrModal" />
                    </div>
                    <div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="qrModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="{{ MEDIA_URL }}{{ patient_info.qr_code.url }}" alt="QR Code Image" data-toggle="modal" data-target="#qrModal"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.card-body -->

{% endblock %} {% block script %} {% endblock script %}
