{% extends "base.html" %}
{% block title %} Patient {% endblock %}
{% block page_title %} Patients {% endblock page_title %}

{% block content %}

<!-- Main content -->
<section class="content">
   <div class="container-fluid">
       <div class="row">
           <div class="col-12">
               {% if messages %}
                  <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    {% for message in messages %}
                       <span class="lh-1">{{ message }}</span>
                    {% endfor %}
                  </div>
               {% endif %}
           </div>
        </div>
      <div class="row">
         <div class="col-12">
            <div class="card card-outline card-primary">
               <div class="card-header">
                  <h3 class="card-title">Patient List</h3>
                  <div class="card-tools">
                     <a href="{% url 'patients:patient_create' %}" class="btn btn-sm btn-block bg-gradient-success">
                        Add Patient
                     </a>
                  </div>
               </div>
               <!-- /.card-header -->
               <div class="card-body">
                  <table id="patient-table" class="table table-striped projects">
                     <thead>
                        <tr>
<!--                            <th>PATIENT ID</th>-->
                            <th>FIRST NAME</th>
                            <th>LAST NAME</th>
                            <th>GENDER</th>
                            <th>MOBILE #</th>
                            <th>EMAIL ADDRESS</th>
<!--                            <th>STATUS</th>-->
                            <th>ACTIONS</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for patient in patients_list %}
                        <tr>
<!--                            <th>{{ patient.id }}</th>-->
                            <td>{{ patient.first_name }}</td>
                            <td>{{ patient.last_name }}</td>
                            <td>{{ patient.userprofile.gender }}</td>
                            <td>{{ patient.mobile}}</td>
                            <td>{{ patient.email }}</td>
<!--                            <td>{% if patient.is_active %}-->
<!--                                    <span class="badge bg-success">Active</span>-->
<!--                                {% else %}-->
<!--                                    <span class="badge bg-danger">Inactive</span>-->
<!--                                {% endif %}-->
<!--                            </td>-->
                            <td>
                                <a href="{% url 'patients:patient_info'  patient.id %}" class="pull-right text-green mr-3"><i class="fas fa-eye"></i></a>
                                <a href="{% url 'patients:patient_edit'  patient.id %}" class="pull-right text-blue"><i class="fas fa-pencil-alt"></i></a>
<!--                                <a href="{% url 'patients:patient_disable' patient.id %}" class="pull-right text-red actions-gap"><i class="fas fa-ban"></i></a>-->
                            </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
               <!-- /.card-body -->
            </div>
         </div>
         <!-- /.col -->
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container-fluid -->
</section>
<!-- /.content -->

{% endblock content %}

{% block script %}
    <script>
      $(function () {
        $('#patient-table').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": false,
          "info": true,
          "autoWidth": false,
          "responsive": true,
          "pageLength": 10,
        });
      });
    </script>
{% endblock script %}