{% extends "base.html" %}
{% block title %} Patient {% endblock %}
{% block page_title %} Patient {% endblock page_title %} {% block content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% if messages %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    {% for message in messages %}
                    <span class="lh-1">{{ message }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Patient Information</h3>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        {% for patient in patient_info %}
                        <ul class="list-group list-group mb-3">
                            <li class="list-group-item"><b>Name</b><a class="float-right">{{ patient.first_name }} {{ patient.last_name }}</a></li>
                            <li class="list-group-item"><b>Gender</b><a class="float-right">{{ patient.userprofile.gender }}</a></li>
                            <li class="list-group-item"><b>Birthdate</b><a class="float-right">{{ patient.date_of_birth|date:"d M Y" }}</a></li>
                            <li class="list-group-item"><b>Mobile</b><a class="float-right">{{ patient.mobile }}</a></li>
                            <li class="list-group-item"><b>Email</b><a class="float-right">{{ patient.email }}</a></li>
                            <li class="list-group-item"><b>Address</b><a class="float-right">{{ patient.userprofile.address }}</a></li>
                            {% for total in total_points %}
                               <li class="list-group-item"><b>Points Earned</b><a class="float-right">{{ total.total_points}}</a></li>
<!--                            {% endfor %}-->
<!--                            <li class="list-group-item">-->
<!--                                <b>Status</b>-->
<!--                                {% if patient.is_active %}-->
<!--                                <a class="float-right">Active</a>-->
<!--                                {% else %}-->
<!--                                <a class="float-right">Inactive</a>-->
<!--                            </li>-->
<!--                            {% endif %}-->
                        </ul>
                        {% endfor %}
                    </div>
                    <div class="col-md-6 patient-qr">
                        {% for qr in patient_info %}
                            <div class="card-body">
                                <img src="{{ MEDIA_URL }}{{ qr.qr_code.url }}" height="300px" alt="QR Code Image" data-toggle="modal" data-target="#qrModal" />
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="card-footer">
                {% for patient in patient_info %}
                    {% if date_now > patient.userprofile.account_expiry %}
                        <a href="{% url 'transactions:transaction_create' patient.id %}"><button class="btn btn-info" disabled>Add Transaction</button></a>
                        <a href="{% url 'patients:patient_edit' patient.id %}"><button class="btn btn-primary" disabled>Edit</button></a>
                    {% else %}
                        <a href="{% url 'transactions:transaction_create' patient.id %}"><button class="btn btn-info">Add Transaction</button></a>
                        <a href="{% url 'patients:patient_edit' patient.id %}"><button class="btn btn-primary">Edit</button></a>
                    {% endif %}
                    {% if date_now > patient.userprofile.account_expiry %}
                        <a href="{% url 'patients:patient_renewal' patient.id %}"><button class="btn btn-primary float-right">Renew Membership</button></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Transaction List</h3>
                    </div>
                    <div class="card-body">
                        <table id="transaction-table" class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th>REFERENCE ID</th>
                                    <th>CODE</th>
                                    <th>AMOUNT</th>
                                    <th>POINTS</th>
                                    <th>DATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transact in transactions %}
                                <tr>
                                    <td>{{ transact.reference_id }}</td>
                                     <td>{% if transact.offer_code %}
                                            {{ transact.offer_code|upper }}
                                         {% else %}
                                            <h6>_</h6>
                                         {% endif %}
                                     </td>
                                    {% if transact.offer_code %}
                                        <td><span>&#8369;</span>{{ transact.discounted_amount }}</td>
                                    {% else %}

                                        <td><span>&#8369;</span>{{ transact.price_amount }}</td>
                                    {% endif %}
                                    <td>{{ transact.points }}</td>
                                    <td>{{ transact.date_added|date:"d M Y G:i" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Redeemed Points List</h3>
                    </div>
                    <div class="card-body">
                        <table id="redeemed_points-table" class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>POINTS</th>
                                    <th>DATE REDEEMED</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for redeem in redeemed_list %}
                                <tr>
                                    <th>{{ redeem.id }}</th>
                                    <td>{{ redeem.redeemed_points|floatformat:2 }}</td>
                                    <td>{{ redeem.date_redeemed|date:"d M Y G:i" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->


<section class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Booked Appointment List</h3>
                </div>
                <div class="card-body">
                    <table id="booked-table" class="table table-striped projects">
                       <thead>
                        <tr>
                            <th>TREATMENT</th>
                            <th>DATE</th>
                            <th>TIME</th>
                        </tr>
                     </thead>

                     <tbody>
                        {% for appointment in appointment_list %}
                           <tr>
                               <td>{{ appointment.treatment }}</td>
                               <td>{{ appointment.date|date:"d M Y" }}</td>
                               <td>{{ appointment.time }}</td>
                           </tr>
                        {% endfor %}
                     </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

{% endblock content %}
{% block script %}
<script>
    $(function () {
        $("#transaction-table").DataTable({
            paging: true,
            lengthChange: false,
            searching: true,
            ordering: false,
            info: true,
            autoWidth: false,
            responsive: true,
            pageLength: 5,
        });
    });
</script>

<script>
    $(function () {
        $("#redeemed_points-table").DataTable({
            paging: true,
            lengthChange: false,
            searching: true,
            ordering: false,
            info: true,
            autoWidth: false,
            responsive: true,
            pageLength: 5,
        });
    });
</script>

<script>
    $(function () {
        $("#booked-table").DataTable({
            paging: true,
            lengthChange: false,
            searching: true,
            ordering: false,
            info: true,
            autoWidth: false,
            responsive: true,
            pageLength: 5,
        });
    });
</script>
{% endblock script %}
