{% extends "base.html" %}

{% block page_title %} Patient {% endblock page_title %}


{% block content %}

<!-- Main content -->
<section class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-12">
            <div class="card card-outline card-info">
               <div class="card-header">
                  <h3 class="card-title">Add Patient</h3>
               </div>
               <!-- /.card-header -->
               <form class="form-horizontal" method="POST" novalidate>
                  <div class="card-body">
                     {% csrf_token %}
                     <div class="form-group ">
                        <label for="" class="col-md-2 control-label">First Name:</label>
                        <div class="col-md-4">
                           {{ form.first_name }}
                           <span class="help-block">{{ form.first_name.errors }}</span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="" class="col-md-2 control-label">Last Name:</label>
                        <div class="col-md-4">
                           {{ form.last_name }}
                           <span class="help-block">{{ form.last_name.errors }}</span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="" class="col-md-2 control-label">Email Address:</label>
                        <div class="col-md-4">
                           {{ form.email }}
                           <span class="help-block">{{ form.email.errors }}</span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="" class="col-md-2 control-label">Birthdate:</label>
                        <div class="col-md-4">
                           {{ form.date_of_birth }}
                           <span class="help-block">{{ form.date_of_birth.errors }}</span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="" class="col-md-2 control-label">Mobile Phone:</label>
                        <div class="col-md-4">
                           {{ form.mobile }}
                           {{ form.mobile.errors }}
                        </div>
                     </div>

                      <div class="form-group">
                        <label for="" class="col-md-2 control-label">Gender:</label>
                        <div class="col-md-4">
                           {{ form.gender }}
                        </div>
                     </div>
                     <div class="form-check">
                         <div class="col-md-4">
                             {{ form.is_active }}
                             <label class="form-check-label" for="">Is active?</label>
                         </div>
                     </div>
                  </div>
                  <div class="card-footer">
                     <button type="submit" class="btn btn-info">Save</button>
                  </div>
               </form>
               <!-- /.card-body -->
            </div>
         </div>
         <!-- /.col -->
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container-fluid -->
</section>
<!-- /.content -->

{% endblock content %}

{% block script %}

{% endblock script %}