<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Page</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  {% include 'snippets/css.html' %}

</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h1"><b>Django</b> Core</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Please log in to access this page</p>

      {% block content %}

      {% endblock content %}

    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

{% include 'snippets/js.html' %}

<!-- Custom JS -->
{% block script %}

{% endblock script %}
</body>
</html>
